[submodule "mykrobe-atlas-api-k8"]
	path = mykrobe-atlas-api-k8
	url = https://gitlab.ebi.ac.uk/davidyuan/mykrobe-atlas-api-k8.git
[submodule "mykrobe-atlas-k8"]
	path = mykrobe-atlas-k8
	url = https://gitlab.ebi.ac.uk/davidyuan/mykrobe-atlas-k8.git
[submodule "mykrobe-atlas-analysis-api"]
	path = mykrobe-atlas-analysis-api
	url = https://gitlab.ebi.ac.uk/davidyuan/mykrobe-atlas-analysis-api.git
